<div class="container">
  <%= link_to("<<Back to menu page", access_menu_path, class:"text-left") %>
  <div class="text-center">
    <h1 class="bg-primary">ABC School,ABC City </h1>
    <span>(Affiliated to CBSE)</span>
    <h3>FEE STRUCTURE FOR THE SESSION 2017-18</h3>
    <h5>ADMISSION FEE(FOR NEW STUDENTS ONLY) : Rs 65,000/-</h5>
    <table class="table table-bordered">
      <tr class="bg-info">
        <th rowspan="2" class="text-center">FEE HEAD</th>
        <th rowspan="2" class="text-center">MODE</th>
        <th colspan="5" class="text-center">KINDERGARTEN</th>
      </tr>
      <tr class="bg-info">
        <th>Quarter 1</th>
        <th>Quarter 2</th>
        <th>Quarter 3</th>
        <th>Quarter 4</th>
        <th>Amount(p.a.)</th>
      </tr>
      <tr>
        <td>TUITION FEE</td>
        <td>Quarterly</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>24600</td>
      </tr>
      <tr>
        <td>ASSESSMENT/EXAMINATION FEE</td>
        <td>Half-yearly</td>
        <td>1380</td>
        <td></td>
        <td>1380</td>
        <td></td>
        <td>2760</td>
      </tr>
      <tr>
        <td>COMPUTER FEE</td>
        <td>Quarterly</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>2700</td>
      </tr>
      <tr>
        <td>SMART CLASSES FEE</td>
        <td>Quarterly</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>2700</td>
      </tr>
      <tr>
        <td>CO-CURRICULAR ACTIVITIES FEE</td>
        <td>Quarterly</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>2040</td>
      </tr>
      <tr class="bg-info">
        <td>FEE PAYABLE FOR THE YEAR</td>
        <td>TOTAL</td>
        <td>9390</td>
        <td>8010</td>
        <td>9390</td>
        <td>8010</td>
        <td>34800</td>
      </tr>
    </table>

    <h3>CURRENT FEE STRUCTURE FOR THE SESSION 2017-18</h3>
    <h5>ADMISSION FEE(ONETIME): Rs 65,000/-</h5>
    <table class="table table-bordered">
      <tr class="bg-info">
        <th rowspan="2" class="text-center">FEE HEAD</th>
        <th rowspan="2" class="text-center">MODE</th>
        <th colspan="5" class="text-center">Class (I - IV)</th>
      </tr>
      <tr class="bg-info">
        <th>Quarter 1</th>
        <th>Quarter 2</th>
        <th>Quarter 3</th>
        <th>Quarter 4</th>
        <th>Amount(p.a.)</th>
      </tr>
      <tr>
        <td>TUITION FEE</td>
        <td>Quarterly</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>24600</td>
      </tr>
      <tr>
        <td>ASSESSMENT/EXAMINATION FEE</td>
        <td>Half-yearly</td>
        <td>1920</td>
        <td></td>
        <td>1920</td>
        <td></td>
        <td>3840</td>
      </tr>
      <tr>
        <td>COMPUTER FEE</td>
        <td>Quarterly</td>
        <td>750</td>
        <td>750</td>
        <td>750</td>
        <td>750</td>
        <td>3000</td>
      </tr>
      <tr>
        <td>SMART CLASSES FEE</td>
        <td>Quarterly</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>2700</td>
      </tr>
      <tr>
        <td>CO-CURRICULAR ACTIVITIES FEE</td>
        <td>Quarterly</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>2040</td>
      </tr>
      <tr class="bg-info">
        <td>FEE PAYABLE FOR THE YEAR</td>
        <td>TOTAL</td>
        <td>10005</td>
        <td>8085</td>
        <td>10005</td>
        <td>8085</td>
        <td>36180</td>
      </tr>
    </table>
    <h3>CURRENT FEE STRUCTURE FOR THE SESSION 2017-18</h3>
    <h5>ADMISSION FEE(ONETIME): Rs 65,000/-</h5>
    <table class="table table-bordered">
      <tr class="bg-info">
        <th rowspan="2" class="text-center">FEE HEAD</th>
        <th rowspan="2" class="text-center">MODE</th>
        <th colspan="5" class="text-center">Class (V - VIII)</th>
      </tr>
      <tr class="bg-info">
        <th>Quarter 1</th>
        <th>Quarter 2</th>
        <th>Quarter 3</th>
        <th>Quarter 4</th>
        <th>Amount(p.a.)</th>
      </tr>
      <tr>
        <td>TUITION FEE</td>
        <td>Quarterly</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>24600</td>
      </tr>
      <tr>
        <td>LAB FEE</td>
        <td>Half-yearly</td>
        <td>840</td>
        <td></td>
        <td>840</td>
        <td></td>
        <td>1680</td>
      </tr>
      <tr>
        <td>ASSESSMENT/EXAMINATION FEE</td>
        <td>Half-yearly</td>
        <td>1920</td>
        <td></td>
        <td>1920</td>
        <td></td>
        <td>3840</td>
      </tr>
      <tr>
        <td>COMPUTER FEE</td>
        <td>Quarterly</td>
        <td>750</td>
        <td>750</td>
        <td>750</td>
        <td>750</td>
        <td>3000</td>
      </tr>
      <tr>
        <td>SMART CLASSES FEE</td>
        <td>Quarterly</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>2700</td>
      </tr>
      <tr>
        <td>CO-CURRICULAR ACTIVITIES FEE</td>
        <td>Quarterly</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>2040</td>
      </tr>
      <tr class="bg-info">
        <td>FEE PAYABLE FOR THE YEAR</td>
        <td>TOTAL</td>
        <td>10845</td>
        <td>8085</td>
        <td>10845</td>
        <td>8085</td>
        <td>37860</td>
      </tr>
    </table>

    <h3>CURRENT FEE STRUCTURE FOR THE SESSION 2017-18</h3>
    <h5>ADMISSION FEE(ONETIME): Rs 65,000/-</h5>
    <table class="table table-bordered">
      <tr class="bg-info">
        <th rowspan="2" class="text-center">FEE HEAD</th>
        <th rowspan="2" class="text-center">MODE</th>
        <th colspan="5" class="text-center">Class (IX-XII)</th>
      </tr>
      <tr class="bg-info">
        <th>Quarter 1</th>
        <th>Quarter 2</th>
        <th>Quarter 3</th>
        <th>Quarter 4</th>
        <th>Amount(p.a.)</th>
      </tr>
      <tr>
        <td>TUITION FEE</td>
        <td>Quarterly</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>6150</td>
        <td>24600</td>
      </tr>
      <tr>
        <td>LAB FEE</td>
        <td>Half-yearly</td>
        <td>1320</td>
        <td></td>
        <td>1320</td>
        <td></td>
        <td>2640</td>
      </tr>
      <tr>
        <td>ASSESSMENT/EXAMINATION FEE</td>
        <td>Half-yearly</td>
        <td>1920</td>
        <td></td>
        <td>1920</td>
        <td></td>
        <td>3840</td>
      </tr>
      <tr>
        <td>COMPUTER FEE</td>
        <td>Quarterly</td>
        <td>750</td>
        <td>750</td>
        <td>750</td>
        <td>750</td>
        <td>3000</td>
      </tr>
      <tr>
        <td>SMART CLASSES FEE</td>
        <td>Quarterly</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>675</td>
        <td>2700</td>
      </tr>
      <tr>
        <td>CO-CURRICULAR ACTIVITIES FEE</td>
        <td>Quarterly</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>510</td>
        <td>2040</td>
      </tr>
      <tr>
        <td>BOARD REGISTRATION/EXAM FEE</td>
        <td>Half-yearly</td>
        <td>850</td>
        <td></td>
        <td>850</td>
        <td></td>
        <td>2640</td>
      </tr>
      <tr class="bg-info">
        <td>FEE PAYABLE FOR THE YEAR</td>
        <td>TOTAL</td>
        <td>12175</td>
        <td>8085</td>
        <td>12175</td>
        <td>8085</td>
        <td>40520</td>
      </tr>
    </table>
  </div>
</div>
