<div class="container">
  <table class="table text-center">
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td class="text-left"><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" },class:"btn btn-info btn-xs" %></td>
      </tr>
    <% end %>
  </table>
</div>
