<table class="table table-bordered">
  <tr>
    <th class="col-md-2">Section Name</th>
    <td class="col-md-4"><%=f.select(:section_name, ['Kindergarten Section', 'Junior Section (Grades 1 to 4)',
       "Boy's Section (Grades 5 to 12)", "Girl's Section (Grades 5 to 12)"]) %></td>
  </tr>
</table>
