<div class="container">
  <%= link_to("<<Back to Section List", sections_path, class:'btn btn-primary') %>
  <h2 class="text-center bg-primary">Create Section</h2>
  <%= form_for @section do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit "Create Section", class: "btn btn-primary" %>
  <% end %>
</div>
