<div class="container">
  <%= link_to("<< Back to Show page", section_path(@section), class:'btn btn-primary') %>
  <h2 class="text-center bg-primary">Update Candidate</h2>
  <br>
  <%= form_for @candidate, url: section_candidate_path, html: { multipart: true } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit "Update Candidate", class: "btn btn-primary" %>
  <% end %>
</div>
