<div class="container bg-info">
  <%= link_to("<< Back to Section", section_path(@section), class:'btn btn-primary') %>
  <h2 class="text-center bg-primary">Create Candidate</h2>
  <br>
  <%= form_for @candidate, url: section_candidates_path, html: { multipart: true } do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%=f.submit("Create Candidate")%>
  <% end %>
</div>
