// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div ul{
  margin-top:50px;
}
div ul li{
  margin-top:10px;
}
