/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require candidates
 */


@import "bootstrap-sprockets";
@import "bootstrap";

.bg-body{
  background-color: #FFF ;
}
.btn-width{
  width:200px;
}
.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab8;
}
.navbar-inverse .navbar-nav > li > a{
  color:#fff;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color:#ccc;
}
div h1, div h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
div h3{
  padding-top: 5px;
  padding-bottom: 5px;
}
.bg-gray{
  background-color: #F1F1F1;
  padding: 10px;
}
.bg-green{
  background-color: #aeeaae;
  padding: 10px;
}
.bg-red{
  background-color: #ffe0cc;
  padding: 10px;
}
